

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-2 col-lg-6" type="button" onClick="document.getElementById('inv').scrollIntoView();">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Invitados</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6" type="button" onClick="document.getElementById('prov').scrollIntoView();">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Proveedores</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Guardias</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Visualizador</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Gerente</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Administrador</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col"  id="inv">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Usuarios Registrados</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">RFC</th>
                <th scope="col">Huellas</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let user of invitados">
                <th scope="row">
                  <div class="media align-items-center">
                    <div *ngIf="user.nombre_genero == 'Masculino'; else elseBlock" class="bg-warning rounded">
                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                        <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded">
                      </a>
                  </div>
                  <ng-template #elseBlock>
                    <div *ngIf="user.nombre_genero == 'Femenino'; else elseBlock" class="bg-info rounded">
                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                        <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded">
                      </a>
                  </div>
                  </ng-template>
                  </div>
                </th>
                <td>
                  <div class="media-body">
                    <span class="mb-0 text-sm">
                      {{user.nombres_usuario}} {{user.apellidos_usuario}}
                    </span>
                  </div>
                </td>
                <td>
                  {{user.rfc_usuario}}
                </td>
                <td>
                  <div class="avatar-group">
                    
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="../assets/img/theme/finger.png" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="../assets/img/theme/finger.png" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="../assets/img/theme/finger.png" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Ver</a>
                      <a class="dropdown-item" href="javascript:void(0)">Editar</a>
                      <a class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col"  id="prov">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Proveedores Registrados</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">RFC</th>
                <th scope="col">Huellas</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of invitados">
                <th scope="row">
                  <div class="media align-items-center">
                    <div *ngIf="user.nombre_genero == 'Masculino'; else elseBlock" class="bg-warning rounded">
                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                        <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded">
                      </a>
                  </div>
                  <ng-template #elseBlock>
                    <div *ngIf="user.nombre_genero == 'Femenino'; else elseBlock" class="bg-info rounded">
                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                        <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded">
                      </a>
                  </div>
                  </ng-template>
                  </div>
                </th>
                <td>
                  <div class="media-body">
                    <span class="mb-0 text-sm">
                      {{user.nombres_usuario}} {{user.apellidos_usuario}}
                    </span>
                  </div>
                </td>
                <td>
                  {{user.rfc_usuario}}
                </td>
                <td>
                  <div class="avatar-group">
                    
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="../assets/img/theme/finger.png" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="../assets/img/theme/finger.png" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="../assets/img/theme/finger.png" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Ver</a>
                      <a class="dropdown-item" href="javascript:void(0)">Editar</a>
                      <a class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4 bg-default">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item enabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
